* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
}

.product-page-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.filter-sidebar {
  width: 200px;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.filter-heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-option {
  margin-bottom: 10px;
}

.checkbox-container label {
  display: block;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

.price-slider {
  margin-top: 20px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

/* Product Listing */
.product-listing {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 8px;
  margin: 8px;
  width: calc(50% - 16px);
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.product-card img {
  width: 100%;
  height: auto;
  display: block;
}

.product-card h3,
.product-card p {
  margin: 8px 0;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-listing {
    padding-top: 0;
  }

  .filter-sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }

  .product-card {
    width: calc(50% - 16px);
  }
}

@media (max-width: 480px) {
  .product-card {
    width: calc(50% - 16px);
  }
}

#user-points {
  font-weight: bold;
  margin-left: 20px;
}

.close-expanded-card {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.add-to-cart-btn {
  background-image: linear-gradient(to right, #56ab2f, #a8e063);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
  min-width: 120px;
}

.add-to-cart-btn:hover {
  background-image: linear-gradient(to right, #a8e063, #56ab2f);
  box-shadow: 0 4px 15px rgba(86, 171, 47, 0.75);
}


.no-scroll {
  overflow: hidden;
}