body {
  margin: 0;
  padding: 0;
  font-family: arial;
  background-color: #fff;
}
body {
  overflow-x: hidden;
}

.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 105vh;
  display: flex;
}

.logo img {
  width: 155px;
  height: auto;
  margin-bottom: 22px;
  animation: rotate 4.5s linear infinite;
}

.Input {
  background-color: white;
  padding: 22px;
  border-radius: 9px;
  box-shadow: 0 4px 8px black(0, 0, 0, 0.4);
  text-align: center;
}

.Input h2 {
  margin-bottom: 22px;
  color: #333;
}

input[type="Text"],
input[type="Password"],
button {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 7px;
  border: 2.5px solid #aeaeae;
  box-sizing: border-box;
}

button {
  background-color: #55c459;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #409845;
}

@keyframes rotate {
  0% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
